/* styles/5-filters.css */
.filters {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #DDDDDD;
}

.locations,
.amenities {
    width: 25%;
    padding: 10px;
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

